body {
    background-color: black;

    padding: 2% 3%;

    font-family: 'Sometype Mono', monospace;

    cursor: url("../assets/CustomCursor.svg") 2 2, pointer;
}







/* 
TEXT
TEXT
TEXT
TEXT
*/



/* Main Page Titel */
h1 {
    /* color: rgb(255, 250, 223); */
    color: #e4ff38;
}

/* AI Categories */
h2 {
    color: aqua;
}

/* AI Tool Titel */
h3 {
    color: rgb(227, 255, 54);

    margin: 0;
}

/* AI Criteria */
h4 {
    color: white;
}

.h4-collapsible {
    margin-top: 0;
}


/* Text */
p {
    /* color: black; */
    /* color: white; */
    color: rgb(220, 220, 220);
    margin-top: 0px;
}

/* Links */
a {
    color: rgb(227, 255, 54);
}







/* 
AI TOOLS
AI TOOLS
AI TOOLS
AI TOOLS
*/


/* AI TOOL Container */
section {
    background-color: black;

    margin-top: 3em;
    padding: 2%;

    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 2em;
    justify-content: space-around;

    /* border-radius: 4px;
    outline-style: solid;
    outline-color: white;
    outline-width: 0.5px; */
}

/* Individual AI Tools */
article {
    background-color: rgb(16, 16, 16);

    width: 20%;
    min-width: 200px;
    height: 800px;
    padding: 20px;

    flex: 0 0 25%;

    border-radius: 4px;
}

.topics{
    /* Kontrollfarbe
    background-color: aqua; */
    margin-top: 2em;
    margin-bottom: 2em;
}


/* Hintergrund collapsible div */
.content {
    background-color: rgb(34, 34, 34);
    padding: 4%;
}

/* collapsible Button */
.collapsible-button {
    background-color: rgb(70, 70, 70);
    color: white;
    font-family: 'Sometype Mono', monospace;
    padding: 18px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
    font-size: 19px;
    outline: none;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    cursor: url("../assets/OK.svg") 5 14, pointer;
}

.collapsible-button:active {
    cursor: url("../assets/Boomer64px_v2.svg") 5 14, pointer;
}
  
/* Color of button when hovering */
.collapsible-button:hover {
    background-color: rgb(90, 90, 90);
}

/* Color of button when Clickt */
.active {
    background-color: rgb(60, 60, 60);
}

.collapsible-button:after {
    /* Unicode character + */
    content: '\002B';
    font-size: 25px;
    color: rgb(120, 120, 120);
    margin-top: 0px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  
  .active:after {
    /* Unicode character - */
    content: "\002D";
    font-size: 25px;
    color: rgb(120, 120, 120);
    margin-top: 0px;
    margin-top: -10px;
    margin-bottom: -10px;
  }